World (
  objects:[
    (
      label:["Forest"],
      description:"Look out for tree people",
      location:None,
      destination:None,
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["Dungeons"],
      description:"Be aware of the trolls in the dungeon.",
      location:None,
      destination:None,
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["Cave"],
      description:"Watch out for bats and look for light.",
      location:None,
      destination:None,
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["Tavern"],
      description:"The tavern is empty. But the fire is still burning in the fireplace.",
      location:None,
      destination:None,
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["Player"],
      description:"You",
      location:Some(0),
      destination:None,
      item: Some(false),
      enemy: false,
      health: Some(100)
    ),

    (
      label: ["Bear"],
      description: "A Grizzly bear",
      location: Some(0),
      destination: None,
      item: Some(false),
      enemy: true,
      health: Some(100),
    ),

    (
      label:["Sword"],
      description:"A rusty sword.",
      location:Some(1),
      destination:None,
      item: Some(true),
      enemy: false,
      health: None
    ),

    (
      label:["Bow"],
      description:"A bow.",
      location:Some(3),
      destination:None,
      item: Some(true),
      enemy: false,
      health: None
    ),

    (
      label:["Bones"],
      description:"Bones of some animal.",
      location:Some(2),
      destination:None,
      item: Some(true),
      enemy: false,
      health: None
    ),

    (
      label:["North"],
      description:"A path to the north leading out of the forest leading to an old Tavern",
      location:Some(0),
      destination:Some(3),
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["South"],
      description:"A path to the south leading back to the forest",
      location:Some(3),
      destination:Some(0),
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["East"],
      description:"A path to the east leading to the Dungeons",
      location:Some(3),
      destination:Some(1),
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["West"],
      description:"A path to the west leading to the Tavern",
      location:Some(1),
      destination:Some(3),
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["North"],
      description:"A path to the north into a cave",
      location:Some(1),
      destination:Some(2),
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["South"],
      description:"A path to the south into the dungeons",
      location:Some(2),
      destination:Some(1),
      item: Some(false),
      enemy: false,
      health: None
    ),
    
    (
      label:["West","East","South"],
      description:"You see nothing but trees. There is no other path in that direction.",
      location:Some(0),
      destination:None,
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["West","North"],
      description:"There is no other path in that direction.",
      location:Some(3),
      destination:None,
      item: Some(false),
      enemy: false,
      health: None
    ),
    
    (
      label:["East","South"],
      description:"You see only big rocks and boulders. There is no other path in that direction.",
      location:Some(1),
      destination:None,
      item: Some(false),
      enemy: false,
      health: None
    ),

    (
      label:["East","North","West"],
      description:"The cave has no paths in that direction",
      location:Some(2),
      destination:None,
      item: Some(false),
      enemy: false,
      health: None
    )
  ]
)
